# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log
*.jar
*.war
*.ear

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Compiled Java class files ---
*.class


# --- OS Specific ---
.DS_Store
Thumbs.db

# Test output
*.log

# JUnit reports
TEST-*.xml